.header {
    background: #151515 url('../images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)
}

.header .text-container {
    z-index: 10;
}

.header .roles {
    font-family: 'lora-regular', serif;
}

.header .social {
    bottom: 50px;
}

.about-img {
    width: 200px;
}

@media(max-width: 767px) {
    .header .social i {
        font-size: 30px;
    }

    .header .roles {
        font-size: 18px !important;
    }

    .about-content {
        flex-direction: column;
    }
}